@use '@carbon/layout';
@use '../vars' as *;

html {
  scroll-behavior: smooth;
}

.egen-app-error {
  padding: layout.$spacing-11;
  width: 100%;
  height: 100%;
  background: white;
  border-top: 5px solid $danger;

  p {
    margin: layout.$spacing-06 0;
  }

  .cds--snippet {
    margin-top: layout.$spacing-06;
  }
}

#egen-apps-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - var(--egen-navbar-height));
  height: fit-content;
  grid-area: appRoots;
  overflow-x: auto;
  min-width: 0;
}

#egen-left-nav-container {
  grid-area: leftNav;
}

#egen-workspaces-container {
  grid-area: workspace;
  position: sticky;
  height: calc(100vh - var(--egen-navbar-height));
  top: var(--egen-navbar-height);
  z-index: 1000;
  will-change: contents;
}

#egen-top-nav-app-container {
  grid-area: topNav;
  height: var(--egen-navbar-height);
}

body {
  display: grid;
  grid-template-areas:
    'topNav topNav topNav'
    'leftNav appRoots workspace';
  grid-template-columns: min-content 1fr min-content;
  container-type: inline-size;
}

@media print {
  body {
    display: block;
    container-type: normal;
  }

  #egen-left-nav-container,
  #egen-workspaces-container,
  #egen-top-nav-app-container {
    display: none;
  }

  #egen-apps-container {
    height: auto;
    min-height: auto;
    overflow: visible;
  }
}
