@use '@carbon/layout';
@use '@egen-civitas/esm-styleguide/src/vars' as *;

.errorIcon {
  color: $danger;
}

.pendingIcon {
  color: var(--colors-warning-500, #ff832b);
}

.cellContainer {
  display: flex;
  align-items: center;
  gap: layout.$spacing-02;
}
